<div class="col-md-10 col-centered">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>任务列表
        <%= link_to("新增任务", new_task_path, class: "label label-primary pull-right") %>
        <%= link_to("未达成的任务", account_unacommpolished_index_path, class: "label label-primary pull-right")%>
    </h3>

  </div>

  <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <td>任务</td>
            <td>发表时间</td>
            <td>创建人 </td>
            <td>扣除</td>
            <td>得分</td>
          </tr>
        </thead>

        <tbody>
          <% @tasks.each do |task| %>
          <tr>
            <td><%= simple_format(link_to(task.description,task_path(task))) %></td>
            <td><%= task.created_at %></td>
            <td><%= task.user.email %> </td>
            <td><%= task.buckle %></td>
            <td><%= task.score %></td>
            <td>
                <% if current_user && current_user == task.user %>
                <%= link_to("Edit", edit_task_path(task), class: "btn btn-sm label label-info")%>
                <%= link_to("Delete", task_path(task),    class: "btn btn-sm label label-warning",
                            method: :delete, data: { confirm: "Are you sure?" } )%>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div style="margin-left:auto;margin-right:30px;width:150px;background-color:Aqua;">

        <p>
         <span class="pull-right">
              <span>
                 <% sum = 0 %>
                 <% @tasks.each do |task| %>
                 <% %>
                 <% sum = sum + task.score %>
                 <% end %>
                 <h4>扣除总计 <%= sum %> 分</h4>
              </span>
           </span>
         </p>


         </div>

      <div class="text-center">
          <%= will_paginate @tasks %>
       </div>
    </div>
   </div>
  </div>
