<div class="col-md-10 col-contered">
<div class="panel panel-success">
  <div class="panel-heading">
    <h3>任务明细
        <%= link_to("Delete", admin_task_path,    class: "pull-right label label-warning",
                    method: :delete, data: { confirm: "Are you sure?" } )%>
        <%= link_to("Edit", edit_admin_task_path, class: "pull-right label label-info") %>
    </h3>
  </div>

  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>任务</td>
          <td>未达成</td>

          <td>扣除</td>
          <td>抵扣</td>
          <td>得分</td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= simple_format(@task.description) %></td>
          <td><%= simple_format(@task.unacommpolished) %></td>

          <td><%= @task.buckle %></td>
          <td><%= @task.deduction %></td>
          <td><%= @task.score %></td>
        </tr>
      </tbody>
     </table>
    </div>

  </div>
</div>
